* {
  box-sizing: border-box;
}

body {
  margin: .6rem;
  padding: .6rem;
}

.grid {
  width: 202px;
  height: 202px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
}

/* this class created in js along with the divs*/
.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: green;
  border-radius: 30%;
}

.apple {
  background-color: red;
}